/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --main-font: 'IBM Plex Mono';
  --decor-color: #FF0070;
  --menu-color: #FF0070;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --heading-color: #FF0070;
  --text-color: #F1B2CE;
}

.theme-dark .header__pseudo-element {
  display: block;
}

.theme-dark .header__pseudo-element::after {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --main-font: 'IBM Plex Mono';
    --decor-color: #FF0070;
    --menu-color: #FF0070;
    --title-color: #DB00FF;
    --accent-color: #FF0070;
    --accent-text-color: #000028;
    --heading-color: #FF0070;
    --text-color: #F1B2CE;
    --hover-color: rgba(255, 0, 112, 0.4);
  
    .header__pseudo-element,
    .header__pseudo-element::after {
      display: block;
    }
  }
}