/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --main-font: 'IBM Plex Mono';
  --decor-color: #353430;
  --menu-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --heading-color: #353430;
  --text-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);

  .header__pseudo-element,
  .header__pseudo-element::after {
    display: none;
  }
}

.header__pseudo-element,
.header__pseudo-element::after {
  display: none;
}
