/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  margin-block-end: 40px;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  margin-inline-end: 10px;
  margin-block-start: 10px;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset-block-start: 0;
  inset-inline-end: 0;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  margin-inline-start: 10px;
  margin-block-end: 10px;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset-block-end: 0;
  inset-inline-start: 0;
  inline-size: 25px;
  block-size: 25px;
}

.header__pseudo-element {
  position: absolute;
  color: var(--decor-color);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 25px;
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.header__pseudo-element::after {
  content: '';
  position: absolute;
  border: 1px solid var(--decor-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
  inline-size: 9px;
  block-size: 9px;
  inset-block-start: 8px;
  inset-inline-end: -19px;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  align-self: center;
  padding-block-start: 61px;
  padding-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  position: relative;
  display: block;
  min-height: 26px;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--decor-color);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  font-family: var(--main-font, sans-serif);
  font-weight: bold;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.subtitle {
  margin-block-start: 55px;
  margin-block-end: 56px;
  color: var(--accent-text-color);
  font-family: var(--main-font, sans-serif);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.non-highlighted-heading {
  margin-block-end: 20px;
  color: var(--heading-color);
  font-family: var(--main-font, sans-serif);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
}

.content {
  margin-block-end: 40px;
  padding: 0 10px;
}

.highlighted-heading {
  margin-block-end: 10px;
  color: var(--accent-text-color);
  font-family: var(--main-font, sans-serif);
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.highlighted-heading__advice {
  margin-block-start: 20px;
  margin-block-end: 10px;
  color: var(--accent-text-color);
  font-family: var(--main-font, sans-serif);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.content__paragraph__text-block {
  margin-block-end: 20px;
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 23.4px;
}

.content__paragraph__text-block a {
  text-decoration: none;
  text-shadow: 1px 0 var(--accent-color);
}

.content__paragraph__text-block a:focus {
  outline: none;
}

.content__paragraph__text-block a:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__paragraph__text-block a:hover {
  border-block-end: 1px solid var(--text-color);
  outline: none;
}

.content__text-block {
  margin-block-end: 50px;
}

.gallery-cards {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  gap: 10px;
}

.gallery-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    margin-block-end: 60px;
    padding: 20px;
  }

  .decorated-zone::before {
    margin-inline-end: 20px;
    margin-block-start: 20px;
  }

  .decorated-zone::after {
    margin-inline-start: 20px;
    margin-block-end: 20px;
  }

  .header__pseudo-element {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__theme-menu {
    padding-block-start: 169px;
    padding-block-end: 173px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-wrap: nowrap;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .subtitle {
    margin-inline-start: 364px;
    margin-block-start: 162px;
    margin-block-end: 163px;
  }

  .content {
    margin-block-end: 60px;
    padding: 0 20px;
  }

  .non-highlighted-heading {
    max-inline-size: 236px;
  }

  .content__text-block {
    margin-block-end: 80px;
  }

  .content__text-block:nth-child(odd) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "non-highlighted-heading content__paragraph";
    column-gap: 20px;
    margin-block-end: 60px;
  }

  .gallery-cards {
    grid-template: 192px 230px 318px / 229px 230px 229px;
    grid-template-areas: 
      "sunset-card sunset-card ice-cream-card"
      "tape-card books-card ice-cream-card"
      "tape-card street-card street-card";
    gap: 20px;
    margin-block-start: 20px;
  }

  .sunset-card {
    grid-area: sunset-card;
  }

  .ice-cream-card {
    grid-area: ice-cream-card;
  }

  .tape-card {
    grid-area: tape-card;
  }

  .street-card {
    grid-area: street-card;
  }

  .footer {
    min-height: 768px;
  }

}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-content: center;
    padding-block-start: 0;
    padding-block-end: 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .subtitle {
    margin-inline-start: 493px;
    margin-block-start: 114px;
    margin-block-end: 134px;
  }

  .non-highlighted-heading {
    max-inline-size: 314.96px;
  }

  .content__text-block {
    margin-block-end: 60px;
  }

  .content__text-block:nth-child(odd) {
    grid-template-columns: 32% 66%;
  }

  .content__text-block:nth-child(even) .content__paragraph {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-cards {
    grid-template: 260px 315px 433px / 315px 315px 314px;
    grid-template-areas: 
      "sunset-card sunset-card ice-cream-card"
      "tape-card books-card ice-cream-card"
      "tape-card street-card street-card";
  }

  .footer {
    min-height: 768px;
  }
}
